*_debug
*.o
build/*
site_scons/site_tools/grpc.pyc
site_scons/site_tools/protoc.pyc
enron/*
.sconsign.dblite
synth/*
enron_
inbox/*
notes_inbox/*
sent/*
allen-p/*
tiny/*
tiny3/*
tiny2/*
tiny4/*
MitraEDB
FakeEDB
fake/*
data
searchres*
*.txt
maildir
DBmitra
OMAPfcsc
